:root {
  color-scheme: light dark;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

html {
  overflow-x: hidden;
}

html body {
  margin-right: 0 !important;
}

::selection {
  background: light-dark(
    var(--chakra-colors-green-200),
    var(--chakra-colors-purple-600)
  );
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 0.5rem;
  background: var(--chakra-colors-blackAlpha-300);
  backdrop-filter: blur(10px) saturate(100%);
}

::-webkit-scrollbar-track-piece {
  width: 0.5rem;
  background: transparent;
  backdrop-filter: blur(10px) saturate(100%);
}

::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-blue-200);
  border-radius: 0.25rem;
}
